<launch>
    <rosparam command="load" ns="map" file="$(find rmcore)/map/test_map.yaml" />
    <node pkg="rmcore" name="plan" type="plan" required="true">
        <rosparam command="load" file="$(find rmcore)/cfg/plan.yaml" />
    </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rmcore)cfg/plan.rviz"/>
</launch>
