<launch>
    <node pkg="my_robot" type="motor_driver" name="left_motor_driver" >
        <remap from="motor_cmd" to="lmotor_cmd" />
        <param name="device" value="/dev/gpiopwm/18"/>
    </node>

    <node pkg="my_robot" type="motor_driver" name="right_motor_driver" >
        <remap from="motor_cmd" to="rmotor_cmd" />
        <param name="device" value="/dev/gpiopwm/13"/>
    </node>

    <param name="g" value="9.792" />
    <node pkg="my_robot" type="controller" name="controller">
        <param name="leftEncoder/pin" value="10"/>
        <param name="rightEncoder/pin" value="4"/>
        <rosparam ns="imu">
            interruptPin: 14
            sampleRate: 500.0
            dlpfMode: 0
            accelCorrectMat: [[ 0.99343087,  0.00769209,  0.0931366 ],
                              [-0.00829568,  0.99535705, -0.00993391],
                              [-0.09324117,  0.0057134 ,  0.96156334]]
            accelOffset:      [-0.05692667,  0.00276761,  0.13369852]
            gyroOffset:       [  4.591268, -3.183211, 0.8912088]
        </rosparam>
    </node>
</launch>
