<launch>
    <param name="g" value="9.792" />
    <group ns="encoder">
        <param name="tickPerMeter" value="97.94" />
        <param name="minVelocity" value="0.05" />
    </group>
    <node pkg="my_robot" type="controller" name="controller" required="true">
        <rosparam ns=leftEncoder>
            pin: 10
            collabrationData: [1.0378, 1.0367, 1.0360, 1.0194, 1.0095, 1.0148, 1.0110, 0.9872, 0.9729, 0.9744, 0.9618, 0.9575, 0.9617, 0.9702, 0.9708, 0.9831, 1.0132, 1.0226, 1.0368, 1.0450]
        </rosparam>
        <rosparam ns=rightEncoder>
            pin: 4
            collabrationData: [0.9722, 0.9682, 0.9721, 0.9750, 0.9800, 0.9853, 0.9997, 1.0021, 0.9975, 1.0037, 1.0433, 1.0411, 1.0415, 1.0369, 1.0273, 1.0105, 1.0062, 0.9906, 0.9919, 0.9691]
        </rosparam>
        <param name="leftMotor/device" value="/dev/gpiopwm/18"/>
        <param name="rightMotor/device" value="/dev/gpiopwm/13"/>
        <rosparam ns="imu">
            interruptPin: 14
            sampleRate: 500.0
            dlpfMode: 0
            accelCorrectMat: [[ 0.99343087,  0.00769209,  0.0931366 ],
                              [-0.00829568,  0.99535705, -0.00993391],
                              [-0.09324117,  0.0057134 ,  0.96156334]]
            accelOffset:      [-0.05692667,  0.00276761,  0.13369852]
            gyroOffset:       [  4.591268, -3.183211, 0.8912088]
        </rosparam>
    </node>
</launch>
